/* Reset margins and paddings */
body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

/* Base styling for body */
body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  position: relative;
  background-color: black;
}

/* Navbar styling */
.navbar {
  background-color: #0000009e;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  padding: 14px 3%;
  height: 50px;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  padding: 14px 3%;
}

.navbar a {
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 14px 20px;
  text-decoration: none;
  transition: transform 0.4s ease-in-out;
}

.navbar a:hover {
  transform: translateY(-1px);
  text-shadow: 1px 7px 9px rgba(0, 0, 0, 1);
  color: white;
}

/* Hero section styling */
.hero {
  height: 100vh;
  background-image: url("img/hero.png");
  background-size: cover;
  background-position: center;
  color: rgb(230, 230, 230);
  text-align: left;
  z-index: 1;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 35%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: -1;
  height: 100%;
}

.hero h1 {
  font-size: 64px;
  font-weight: 400;
  margin: 0;
  position: relative;
  top: 36%;
  padding-left: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero h2 {
  max-width: 40%;
  position: relative;
  font-weight: 100;
  top: 42%;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 60px;
  transform: scaleY(1.1);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section {
  height: 100vh;
}

.section-intro {
  padding: 80px 50px 20px 50px;
}

.section-intro h2 {
  font-size: 36px;
  color: rgb(250, 250, 250);
}

.section-intro p {
  font-size: 16px;
  color: rgb(230, 230, 230);
  width: 50%;
  line-height: 26px;
  margin-top: 20px;
}

.section-sectors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
  background-color: black;
}

.sector {
  text-align: center;
  flex-basis: calc(50% - 20px);
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}

.sector img {
  position: relative;
  opacity: 0.7;
  transition: all 0.6s ease-in-out;
  max-width: calc(80% - 40px);
  height: auto;
  padding: 20px;
  border-radius: 22px;
}
.sector img:hover {
  opacity: 1;
  position: relative;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}

.sector img:after {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

.sector h2 {
  font-size: 28px;
  font-weight: 200;
  letter-spacing: 5px;
  transform: scaleY(1.2);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 50px;
  left: 40px;
  margin: 0;
  transition: transform 0.6s ease-in-out;
}

.sector:hover h2 {
  cursor: pointer;
}

.section-outro {
  padding: 80px 20px;
  position: relative;
}

.section-outro h2 {
  font-size: 36px;
  color: rgb(250, 250, 250);
  position: absolute;
  right: 50px;
  top: 0;
  width: calc(50% - 40px);
}

.section-outro p {
  color: rgb(230, 230, 230);
  width: calc(50% - 40px);
  line-height: 26px;
  position: absolute;
  right: 50px;
  bottom: 0;
}

.section-outro-button {
  position: absolute;
  right: 50px;
  bottom: -30px;
  width: calc(50% - 40px);
  margin-top: 60px;
}

.section-outro-button button {
  font-size: 20px;
  color: rgb(201, 201, 201);
  background-color: rgba(0, 0, 0, 0);
  border: rgb(206, 206, 206) 1px solid;
  border-radius: 6px;
  outline: none;
  padding: 6px 16px;
}

.section-outro-button button:hover {
  transform: translateY(-1px);
  transition: all 0.4s ease-in-out;
}

.footer {
  height: 200px;
  border-top: white 1.2px solid;
  margin-top: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px 14px 40px;
}

.footer-sec {
  flex: 1;
  position: relative;
}

.footer-sec-cont {
  position: relative;
  overflow: hidden;
}

.footer-sec-cont img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.footer-sec-cont h3 {
  color: white;
  font-size: 24px;
}

.footer-sec-cont h4 {
  color: rgb(230, 230, 230);
}

.right-align {
  text-align: right;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9698004201680672) 0%,
    rgba(0, 0, 0, 0.8717612044817927) 0%,
    rgba(0, 0, 0, 0.23310574229691872) 2%,
    rgba(0, 0, 0, 0) 7%
  );
}

.image-overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9698004201680672) 0%,
    rgba(0, 0, 0, 0.8717612044817927) 0%,
    rgba(0, 0, 0, 0.23310574229691872) 2%,
    rgba(0, 0, 0, 0) 7%
  );
}

/*============ Mobile Responsive Css ============*/

/* Tablet View */
@media (max-width: 1024px) {
}

/* Large Mobile Landscape View */
@media screen and (max-width: 916px) {
}

/* Mobile Landscape View */
@media (max-width: 768px) {
}

/* Mobile Portrait View */
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
  }
  .navbar-links {
    text-align: center; /* Center-align links in mobile mode */
    margin-left: 200px;
    padding-top: 0;
  }

  .navbar img {
    height: 30px;
    padding-bottom: 6px;
  }
  .navbar a {
    font-size: 14px;
  }
  .hero h1 {
    font-size: 36px;
    margin-left: 34px;
    padding-left: 0;
  }

  .hero h2 {
    font-size: 24px;
    margin-left: 34px;
  }

  .section-intro {
    padding-left: 20px;
  }

  .section-intro h2 {
    font-size: 24px;
  }

  .section-intro p {
    width: 100%;
    padding-left: 0;
  }

  .section-sectors {
    margin-left: -20px;
  }
  .sector h2 {
    font-size: 18px;
  }

  .sector img {
    padding: 8px;
    border-radius: 10px;
  }

  .section-outro {
    width: calc(100% - 40px);
    padding-top: 46px;
    padding-bottom: 10px;
  }
  .section-outro h2 {
    left: 20px;
    font-size: 24px;
  }

  .section-outro p {
    font-size: 16px;
    left: 20px;
    width: calc(100% - 40px);
    position: static;
  }

  .section-outro-button {
    left: 20px;
    margin-top: 0;
  }

  .section-outro-button button {
    font-size: 16px;
  }
  .footer {
    margin-top: 70px;
    width: calc(100% - 60px);
    height: 100px;
  }

  .footer-sec-cont h3 {
    font-size: 14px;
  }
  .footer-sec-cont h4 {
    font-size: 14px;
  }

  #img-sec {
    display: none;
  }
}
